<form action="{% url 'report_gen' %}" method="POST" id="queryForm">
    <div class="form-group h2 my-5">
      {% csrf_token %}
      <label for="exampleFormControlTextarea1" class="text-2xl font-bold">Enter your query, which is not listed above: </label>
      <textarea class="form-control form-control-lg my-3" id="Textarea1" name = "query" rows="3"></textarea>
      <div class="text-center my-5">
        <input
        class="btn btn-outline-success font-weight-bold "
        type="submit"
        value="Solve Query"
        />
      </div>
    </div>
</form>